{% extends 'base.html' %}
{% load static %}

{% block opcionesMenu %}
	<li class="nav-item">
	    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="{% url 'aboutme' %}">Sobre mi</a>
	</li>
	<!--
	<li class="nav-item">
		<a class="nav-link" href="{% url 'service' %}">Servicios</a>
	</li>
-->
	<li class="nav-item">
		<a class="nav-link" href="{% url 'blog' %}">Blog</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'contact' %}">Contacto</a>
	</li>
{% endblock %}

{% block contenido %}
	<!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 mb-5 sobremi">
      	<br>
	  	<h2>Sobre mi, <small>trato directo y transparente.</small> </h2>
	  	<hr>
	  	<p>
			Hola, me llamo Oscar Custodio, soy programador web experto en Software Open Source y consultor de tecnologías libres. Me respaldan 20 años de experiencia en el área de Tecnologías de Información.<br><br>
		    Ayudo a empresas y emprendedores para que aprovechen el potencial de las alternativas al software propietario <span class="badge badge-warning">Software Libre</span>, que les permiten la reducción de costos.<br><br>
			La mayoría de clientes que llegan conmigo lo hacen con el mismo problema: usan programas privativos o paquetes de software que no se adaptan 100% a las necesidades de su empresa y esto trae como consecuencia...<br>
			<ul>
				<li>
					<i class="fas fa-check-circle"></i> Gastos de licenciamiento, la mayoría de las veces estos pagos tienen que hacerce cada año.
				</li>
				<li>
					<i class="fas fa-check-circle"></i> Nuevo gasto en el desarrollo de piezas de software específicas a las necesidades de su empresa, ya que los programas adquiridos no las contemplan.
				</li>
				<li>
					<i class="fas fa-check-circle"></i> Siendo usuarios de plataformas Windows, siempre estarán en riesgo a causa de virus. Por ende gastos en mantenimientos no planeados. Solo por mencionar algunas.
				</li>
			</ul>
	  	</p>

		<h3>Qué hago?</h3>
		<ul>
			<li>
				<i class="fas fa-tools"></i> Mantenimiento preventivo y correctivo a equipo de cómputo (Hardware y Software).
			</li>
			<li>
				<i class="fas fa-chalkboard-teacher"></i> Programación de aplicaciones web y desktop.
			</li>
			<li>
				<i class="fab fa-linux"></i> Instalación y configuración de servidores linux (Web, Base de datos, de Archivos y Nube privada).
			</li>
			<li>
				<i class="fas fa-network-wired"></i> Mantenimiento a redes locales.
			</li>
			<li>
				<i class="fab fa-linux"></i> <i class="fab fa-freebsd"></i> <i class="fab fa-windows"></i> Instalación de sistemas operativos para desktop (Linux, BSD y Windows).
			</li>
		</ul>

		<h3>Algunos de mis clientes: <small>Gobierno, Iniciativa privada y Asociaciones civiles.</small></h3>
		<ul class="listaEmpresas">
			<li>
				<img src="{% static 'img/empresas/ceas.png' %}" alt=""><br>
			</li>
			<li>
				<img src="{% static 'img/empresas/cnts.png' %}" alt=""><br>
			</li>
			<li>
				<img src="{% static 'img/empresas/olmeca.png' %}" alt=""><br>
			</li>
			<li>
				<img src="{% static 'img/empresas/satab.gif' %}" alt=""><br>
			</li>
		</ul>
      </div>

      <div class="col-md-4 mb-5">
      	<br>
        <h2>Contacto</h2>
        <hr>
        <address>
          <strong>Villahermosa, Tabasco</strong>
          <br>Sector Triunfo La Manga
          <br>Col. Gaviotas Norte
          <br>
        </address>
        <address>
          <!--
          <abbr title="Phone"><i class="fas fa-mobile-alt"></i></abbr>
          (993) 243-3513
          <br>
        -->
          <abbr title="Email"><i class="fas fa-envelope"></i></abbr>
          <a href="mailto:spawngultab@gmail.com">spawngultab@gmail.com</a>
        </address>
      </div>
    </div>

	
    <!-- /.row -->
  </div>

{% endblock %}
