{% extends 'base.html' %}
{% load static %}

{% block opcionesMenu %}
	<li class="nav-item active">
	    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'aboutme' %}">Sobre mi</a>
	</li>
	<!--
  <li class="nav-item">
    <a class="nav-link" href="{% url 'service' %}">Servicios</a>
  </li>
-->
	<li class="nav-item">
		<a class="nav-link" href="{% url 'blog' %}">Blog</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'contact' %}">Contacto</a>
	</li>
{% endblock %}

{% block contenido %}
	<!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Desarrollador</h1>
          <p class="lead mb-5 text-white">20 años de experiencia en el área de Tecnologías de Información, entusiasta del Hardware y Software Libre, programador por convicción y usuario diario de Debian GNU/Linux.</p>
          <div class="foto"><img src="{% static 'img/foto.jpg' %}" alt=""></div>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>¿A qué me dedico?</h2>
        <hr>
        <p><strong>Desarrollo aplicaciones de escritorio con Python.</strong> es un lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código.​ Se trata de un lenguaje de programación multiparadigma, ya que soporta orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.</p>
        <p><strong>Desarrollo aplicaciones web con las tecnologías de hoy: HTML5, CSS3, JavaScript (Fontend), Django, NodeJS (Backend).</strong> Frontend y Backend son términos que se refieren a la separación de intereses entre una capa de presentación y una capa de acceso a datos, respectivamente. Pueden traducirse al español el primero como interfaz, frontal final o frontal y el segundo como motor, dorsal final ​o zaga,​ aunque es común dejar estos por separado.</p>
        <p><strong>Integración de Hardware y Software Libre con Arduino.</strong> Arduino se enfoca en acercar y facilitar el uso de la electrónica y programación de sistemas embebidos en proyectos multidisciplinarios.</p>
        <p><strong>Mantenimiento preventivo y correctivo.</strong> Diagnóstico, limpieza de hardware y mantinimiento correctivo a equipos de cómputo.</p>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contacto</h2>
        <hr>
        <address>
          <strong>Villahermosa, Tabasco</strong>
          <br>Sector Triunfo La Manga
          <br>Col. Gaviotas Norte
          <br>
        </address>
        <address>
          <!--
          <abbr title="Phone"><i class="fas fa-mobile-alt"></i></abbr>
          (993) 243-3513
          <br>
        -->
          <abbr title="Email"><i class="fas fa-envelope"></i></abbr>
          <a href="mailto:spawngultab@gmail.com">spawngultab@gmail.com</a>
        </address>
      </div>

    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/html.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">HTML 5</h4>
            <p class="card-text">(HyperText Markup Language, versión 5) es la quinta revisión importante del lenguaje básico de la World Wide Web, HTML.</p>
          </div>
          <div class="card-footer">
            <a href="https://es.wikipedia.org/wiki/HTML5" target="_blank" class="btn btn-primary">Ir a Wikipedia... <i class="fab fa-wikipedia-w"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/javascript.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">JavaScript</h4>
            <p class="card-text">Es un lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como orientado a objetos,​ basado en prototipos, imperativo, débilmente tipado y dinámico.</p>
          </div>
          <div class="card-footer">
            <a href="https://es.wikipedia.org/wiki/JavaScript" target="_blank" class="btn btn-primary">Ir a Wikipedia... <i class="fab fa-wikipedia-w"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/css.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">CSS 3</h4>
            <p class="card-text">(Cascading Style Sheets), es un lenguaje de diseño gráfico para definir y crear la presentación de un documento estructurado escrito en un lenguaje de marcado.</p>
          </div>
          <div class="card-footer">
            <a href="https://es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada#CSS3" target="_blank" class="btn btn-primary">Ir a Wikipedia... <i class="fab fa-wikipedia-w"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endblock %}