{% load static %}

<!doctype html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Bootstrap CSS Local -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.min.css' %}">

        <title>SCOM | Login</title>
    </head>
    <body>

        <form method="post" class="formulario">
            <h1>Login</h1>
            {% csrf_token %}
            <input class="form-control" type="text" name="username" id="username" placeholder="Usuario">
            <input class="form-control" type="password" name="password" placeholder="Clave">

            <button class="btn btn-block btn-success" type="submit">Entrar <span><i class="fas fa-sign-in-alt"></i></span></button>

            <br>

            <span class="badge badge-warning">
                <b>¿No tiene registro?</b><br>Puede solicitar sus datos de acceso
                <br>con el administrador del sitio.
            </span>

            {% if form.errors %}
                <span id="avisoError" class="badge badge-danger peligro">
                    <b>Su nombre de usuario y contraseña<br> no coinciden.<br>¡ Inténtelo de nuevo por favor !</b>
                </span>
            {% endif %}
        </form>

        <!-- Footer -->
  <footer class="py-3">
    <div class="container">
      <p class="m-0 text-center text-white">
        <span class="copyleft">&copy;</span> 2018 Copyleft: <strong><a class="liga" href="https://oscarcustodio.site" target="_blank">oscarcustodio.site</a></strong><br><a class="logoDjango" href="https://www.djangoproject.com/" target="_blank"><img src="{% static 'img/80x15-django-powered.png' %}" alt="Logo Django"></a>
      </p>
    </div>
  </footer>

    <!-- Optional JavaScript Local -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
        $("#username").focus();
        $("#avisoError").fadeIn(600).delay(3000).fadeOut(1600);
    </script>
    </body>
</html>
