{% extends 'base.html' %}
{% load static %}

{% block opcionesMenu %}
	<li class="nav-item">
	    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'aboutme' %}">Sobre mi</a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="{% url 'service' %}">Servicios</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'blog' %}">Blog</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'contact' %}">Contacto</a>
	</li>
{% endblock %}

{% block contenido %}
<h1>Servicio</h1>
{% endblock %}