{% extends 'base.html' %}
{% load static %}

{% block opcionesMenu %}
	<li class="nav-item">
	    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'aboutme' %}">Sobre mi</a>
	</li>
	<!--
  <li class="nav-item">
    <a class="nav-link" href="{% url 'service' %}">Servicios</a>
  </li>
-->
	<li class="nav-item">
		<a class="nav-link" href="{% url 'blog' %}">Regresar al blog</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'contact' %}">Contacto</a>
	</li>
{% endblock %}

{% block contenido %}
	<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        {% if posts %}
          {% for post in posts %}
            <h1 class="my-4">Blog de Oscar<br>
              <small>{{ post.categoria__nombre }}</small>
            </h1>

            <!-- Blog Post -->
            <div class="card mb-4">
              <img class="card-img-top" src="{{ post.imagen }}" alt="{{ post.nombre_corto }}">
              <div class="card-body">
                <h2 class="card-title">{{ post.titulo }}</h2>
                <p class="card-text">
                  {{ post.contenido | truncatechars:260 | safe }}
                </p>
                <a href="{% url 'detalle' post.id %}" class="btn btn-primary">Leer más <i class="fas fa-ellipsis-h"></i></a>
              </div>
              <div class="card-footer text-muted">
                Posteado el {{ post.fecha_creacion }} por
                <a href="#">{{ post.autor_id__nombre }} {{ post.autor_id__apellido }}</a>
              </div>
            </div>
          {% endfor %}
          {% if not consulta %}
            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
              {% if posts.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ posts.previous_page_number }}">&larr; Anterior</a>
                </li>
              {% endif %}
              {% if posts.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ posts.next_page_number }}">Siguiente &rarr;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        {% else %}
          <h1 class="my-4">Blog de Oscar<br>
            <small>Arduino</small>
          </h1>
            <div class="card mb-4">
              <div class="card-body">
                <h2 class="card-title">No existen publicaciones!!!</h2>
                <p class="card-text">
                  Deseas escribir un post?
                  <br>
                  ¡ Contáctame y nos ponemos de acuerdo !
                </p>
              </div>
            </div>
        {% endif %}
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Búsqueda</h5>
          <div class="card-body">
            <form method="get">
              <div class="input-group">
                <input type="text" name="buscar" class="form-control" placeholder="Buscar post" value="{{ request.GET.buscar }}">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit">Buscar <i class="fas fa-search"></i></button>
                </span>
              </div>
            </form>
          </div>
        </div>

        <!-- Posts Widget -->
        <div class="card my-4">
          <h5 class="card-header">Posts</h5>
          <div class="card-body">
            <div class="input-group">
              {% if user.is_authenticated %}
                <div class="alert alert-success">
                  Bienvenido <b>{{ user.username | capfirst }}</b>, ya puedes publicar...
                </div>
                <a href="{% url 'post' %}" class="btn btn-primary btn-personal">Nuevo post <i class="fas fa-plus-circle"></i></a>
                <span class="espacioVertical"></span>
                <a href="{% url 'logout' %}" class="btn btn-primary btn-personal">Logout <i class="fas fa-sign-out-alt"></i></a>
              {% else %}
                <div class="alert alert-warning">
                  Debes estar logueado para poder publicar.
                </div>
                <a href="{% url 'login' %}" class="btn btn-primary btn-personal">Login <span><i class="fas fa-sign-in-alt"></i></span></a>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categorias</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    {% for categoria in categorias %}
                      <li>
                        <a href="{% url 'categoria' categoria.id %}">{{ categoria.nombre }}</a>
                      </li>
                    {% endfor %}
                  </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}
