{% extends 'base.html' %}
{% load static %}

{% block opcionesMenu %}
	<li class="nav-item">
	    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'aboutme' %}">Sobre mi</a>
	</li>
	<!--
  <li class="nav-item">
    <a class="nav-link" href="{% url 'service' %}">Servicios</a>
  </li>
-->
	<li class="nav-item">
		<a class="nav-link" href="{% url 'blog' %}">Regresar al blog</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'contact' %}">Contacto</a>
	</li>
{% endblock %}

{% block contenido %}
	<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        {% for registro in post %}
          <!-- Title -->
          <h1 class="mt-4">
            {{ registro.titulo }} 
            {% for reg in categoria %}
              <small>{{ reg.nombre }}</small>
            {% endfor %}
          </h1>
          <!-- Author -->
          <p class="lead">
            por
            <a href="#">{{ registro.autor_id__nombre }} {{ registro.autor_id__apellido }}</a>
          </p>
          <hr>
          <!-- Date/Time -->
          <p>Posteado el {{ registro.fecha_creacion }}</p>
          <hr>
          <!-- Preview Image -->
          <img class="img-fluid rounded" src="{{ registro.imagen }}" alt="">
          <hr>
          <!-- Post Content -->
          <p class="lead">{{ registro.contenido | safe }}</p>
          <hr>

          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Agregar un comentario:</h5>
            <div class="card-body">
              <form method="POST">
                {% csrf_token %}

                <input type="text" id="id_id" name="post_id" value="{{ registro.id }}">
                <div class="form-group">
                  <textarea name="comentario" class="form-control" rows="3"></textarea>
                </div>
                
                <button type="submit" class="btn btn-primary">Enviar <i class="fas fa-comment"></i>
                </button>
              </form>
            </div>
          </div>
        {% endfor %}
      </div>



      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Posts Widget -->
        <div class="card my-4">
          <h5 class="card-header">Posts</h5>
          <div class="card-body">
            <div class="input-group">
              {% if user.is_authenticated %}
                <div class="alert alert-success">
                  Bienvenido <b>{{ user.username | capfirst }}</b>, ya puedes publicar...
                </div>
                <a href="{% url 'post' %}" class="btn btn-primary btn-personal">Nuevo post <i class="fas fa-plus-circle"></i></a>
                <span class="espacioVertical"></span>
                <a href="{% url 'logout' %}" class="btn btn-danger btn-personal">Logout <i class="fas fa-sign-out-alt"></i></a>
              {% else %}
                <div class="alert alert-warning">
                  Debes estar logueado para poder publicar.
                </div>
                <a href="{% url 'login' %}" class="btn btn-success btn-personal">Login <span><i class="fas fa-sign-in-alt"></i></span></a>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categorias</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    {% for categoria in categorias %}
                      <li>
                        <a href="{% url 'categoria' categoria.id %}">{{ categoria.nombre }}</a>
                      </li>
                    {% endfor %}
                  </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endblock %}