{% extends 'base.html' %}
{% load static %}

{% block scriptCSS %}
	  <link rel="stylesheet" href="{% static 'css/detalles.min.css' %}">
{% endblock %}

{% block opcionesMenu %}
	<li class="nav-item">
	    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'aboutme' %}">Sobre mi</a>
	</li>
	<!--
  <li class="nav-item">
    <a class="nav-link" href="{% url 'service' %}">Servicios</a>
  </li>
-->
	<li class="nav-item">
		<a class="nav-link" href="{% url 'blog' %}">Regresar al blog</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'contact' %}">Contacto</a>
	</li>
{% endblock %}

{% block contenido %}
	<div class="container">
		<div class="row">
			<div class="col md-8">
				<h1 class="my-4">
					Post
					<br>
					<small>Agregar nueva publicación</small>
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				
				<form method="POST">
					{% csrf_token %}

					<div class="form-group">
						Título {{ form.titulo }}
					</div>
					<div class="form-group">
						Nombre corto (Slug){{ form.nombre_corto }}
					</div>
					<div class="form-group">
						Descripción {{ form.descripcion }}
					</div>
					<div class="form-group contenido">
						Contenido {{ form.contenido }}
					</div>
			</div>
			<div class="col-md-6">
				
					<div class="form-group">
						Link de imagen {{ form.imagen }}
					</div>
					<div class="form-group">
						Autor {{ form.autor }}
					</div>
					<div class="form-group">
						Categoría {{ form.categoria }}
					</div>
					<div class="form-group">
						Registro activo {{ form.estatus }}
					</div>

					<button type="submit" class="btn btn-primary">Guardar post <i class="fas fa-save"></i></button>
				</form>
			</div>
		</div>
		<br>
	</div>
{% endblock %}

{% block scriptJS %}
	<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
	<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}