{% extends 'base.html' %}
{% load static %}

{% block opcionesMenu %}
	<li class="nav-item">
	    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'aboutme' %}">Sobre mi</a>
	</li>
	<!--
  <li class="nav-item">
    <a class="nav-link" href="{% url 'service' %}">Servicios</a>
  </li>
-->
	<li class="nav-item">
		<a class="nav-link" href="{% url 'blog' %}">Blog</a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="{% url 'contact' %}">Contacto</a>
	</li>
{% endblock %}

{% block contenido %}
	<div class="container">
		
		<h2 class="my-4">Contáctame, <small>me complace poder ayudarte.</small> </h2>
		{% if status == 'ok' %}
			<div class="alert alert-success" role="alert" id="avisosCorreo">
				Gracias por tus comentarios, en breve me pondré en contacto.
			</div>
		{% endif %}

		<div class="row">
			<div class="col-md-6 col-sm-12">
				<form method="POST">
					{% csrf_token %}
					<div class="form-group">
						<input type="text" name="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
					</div>

					<div class="form-group">
						<input type="email" name="correo" class="form-control" id="correo" aria-describedby="emailHelp" placeholder="Correo" required>
						<small id="emailHelp" class="form-text text-muted">Nunca compartiré tu correo electrónico con nadie más.</small>
					</div>

					<div class="form-group">
						<textarea name="mensaje" id="mensaje" cols="30" rows="8" class="form-control" placeholder="Mensaje" required></textarea>
					</div>

					<button type="submit" class="btn btn-primary">Enviar mensaje <i class="fas fa-share"></i></button>
				</form>
				<br>
			</div>

			<div class="col-md-6 col-sm-12">
				<img class="img-fluid rounded mapa" src="{% static 'img/mapa.jpg' %}" alt="">
				<br>
				<br>
				<address>
					<strong>Villahermosa, Tabasco</strong>
					<br>Sector Triunfo La Manga, Col. Gaviotas Norte
					<!--
					<br>
					<i class="fas fa-mobile-alt"></i>
					(993) 243-3513
				-->
					<br> 
					<i class="fas fa-envelope"></i>
					spawngultab@gmail.com
				</address>
			</div>
		</div>
		<br>

	</div>
{% endblock %}

{% block scriptJS %}
	<script>
		$("#nombre").focus();

		setTimeout(function(){
			$('#avisosCorreo').fadeOut('slow');
		}, 4000);
	</script>
{% endblock %}