{% load inlinecss %}
{% inlinecss 'css/mail.min.css' %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Contacto</title>
</head>
<body>

	<section class="tablaCorreo">
		<div class="encabezado">
			<img src="https://drive.google.com/uc?id=19yeTQnfk00QdgOXuCzoQcDuYACJMpVv4" alt="fondo">
			<div class="nombreSitio">oscarcustodio.site</div>
		</div>

		<div class="contenido">
			Estimado(a) {{ nombre }}, en breve me pondré en contacto para darle solución a la duda/comentario que amablemente me hiciste llegar.<br><br>
			<hr>
			<small><i>{{ mensaje }}</i></small><br>
			<hr><br>
			Sin más que agregar, recibe un fuerte abrazo.<br>
			<b>Oscar Custodio</b>
			<br><br>
			<a href="https://oscarcustodio.site">www.oscarcustodio.site</a><br><br>
		</div>

		<div class="pie">
			<a class="sociales" href="https://www.linkedin.com/in/oscar-custodio" target="_blank"><img src="https://drive.google.com/uc?id=1QndDUc83VfwYwYguF_lLYCiWoqB7w3SP" alt="linkedin"></a>

			<a href="https://gitlab.com/spawngultab" target="_blank"><img src="https://drive.google.com/uc?id=15Ae3hrzHHMyYv6vgLrBfaJcn-FitEhJL" alt="gitlab"></a>

			<a href="https://www.instagram.com/spawngultab/" target="_blank"><img src="https://drive.google.com/uc?id=15tFMuJXzwdkrhUllfsZGBxIM0ta0ayYT" alt="instagram"></a>
		</div>
		
	</section>

</body>
</html>
{% endinlinecss %}
