{% extends 'base.html' %}
{% load static %}

{% block scriptCSS %}
	<link href="{% static 'css/404.min.css' %}" rel="stylesheet">
{% endblock %}

{% block contenido %}
	<div class="container text-center">
		<div class="mensaje">
			<h1 class="error">
				<i class="fas fa-exclamation-triangle"></i>
				404 Error
			</h1>
			<hr>
			<h2>
				¡ Lo que buscas no se encuentra aquí !
			</h2>
			<p class="regresar">
				<a href="{% url 'home' %}"><i class="fas fa-chevron-circle-left"></i> Click aquí para regresar</a>
			</p>
		</div>
	</div>
{% endblock %}
