{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Personal Website</title>

  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/business-frontpage.min.css' %}" rel="stylesheet">

  {% block scriptCSS %}
  {% endblock %}
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><h3>[ <b> OC</b> ]</h3> <div class="nombre">Oscar Custodio</div></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% block opcionesMenu %}
          {% endblock %}
        </ul>
      </div>
    </div>
  </nav>

  {% block contenido %}
  {% endblock %}

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">
        <span class="copyleft">&copy;</span> 2018 Copyleft: <strong><a class="liga" href="https://oscarcustodio.site" target="_blank">oscarcustodio.site</a></strong><br><a class="logoDjango" href="https://www.djangoproject.com/" target="_blank"><img src="{% static 'img/80x15-django-powered.png' %}" alt="Logo Django"></a>
      </p>
      <div class="pie">
        <a class="sociales" href="https://www.linkedin.com/in/oscar-custodio" target="_blank"><img src="{% static 'img/linkedin.png' %}" alt="linkedin"></a>

        <a href="https://gitlab.com/spawngultab" target="_blank"><img src="{% static 'img/gitlab.png' %}" alt="gitlab"></a>

        <a href="https://www.instagram.com/spawngultab/" target="_blank"><img src="{% static 'img/instagram.png' %}" alt="instagram"></a>
      </div>
      <hr>
    </div>
    <div class="container">
      <p class="m-0 text-center text-white">
        Herramientas de Terceros y Diseñadas por mí<br>
        <strong>
          <a class="ligaHerramientas" href="http://74.207.236.10:8080" target="_blank">Nextcloud <i class="fas fa-cloud"></i></a> | <a class="ligaHerramientas" href="http://odoo.oscarcustodio.site" target="_blank">Odoo <i class="fas fa-poll"></i></a>
        </strong>

        <br>  

        <strong>
          <a class="ligaHerramientas" href="http://scids.oscarcustodio.site" target="_blank">S.C.I.D.S. <i class="fas fa-users"></i></a> | <a class="ligaHerramientas" href="http://domcca.oscarcustodio.site" target="_blank">D.O.M.C.C.A. <i class="fas fa-tools"></i></a> | <a class="ligaHerramientas" href="http://74.207.236.10:8004/" target="_blank">Menu <i class="fas fa-store"></i></a> | <a class="ligaHerramientas" href="http://optica.oscarcustodio.site" target="_blank">Optica <i class="fas fa-glasses"></i></a> | <a class="ligaHerramientas" href="{% static 'presentacion-brandhold-hotel-management.pdf' %}" target="_blank">Brandhold <i class="fas fa-glasses"></i></a>
        </strong>
      </p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script defer src="{% static 'js/all.min.js' %}"></script>
  {% block scriptJS %}
  {% endblock %}
</body>

</html>
